<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='register.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style>
        body {
            background-image: url("{{url_for('static', filename='registerbackground.png')}}");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center top;
            margin: 0;
            padding: 0;
        }
    </style>
    <script src="register.js"></script>
</head>
<body>
    <header>
        <img src="{{url_for('static', filename='rzalogo.png') }}" alt="Riget Zoo Adventures">
        <div class="container">
            <div class="text">
                <h1>Riget Zoo Adventures</h1>
                <div class="beige-box">
                    <p class="p1">Register</p>
                    <form method="POST" id="register-form">
                        <label for="username">Create Username:</label><br>
                        <input type="text" id="username" name="username" required/><br>
                        <label for="email">Create Email:</label><br>
                        <input type="email" id="email" name="email" required/><br>
                        <label for="password">Create Password:</label><br>
                        <input type="password" id="password" name="password" required/>
                        <br><br>
                        <input type="checkbox" name="terms" id="terms" value="" onchange="activateSubmit(this)" class="checkbox" required/>  <span class="terms-label">I Agree the Terms & Conditions</span><br>
                        <div class="button-container">
                        <input type="submit" value="Submit" class="submit-button">
                        </div>
                        <div class="login-container">
                            <button class="green-button"><a href="{{url_for('login')}}">Login</a></button>
                        <div class="home-container">
                            <button class="green-button"><a href="{{url_for('home')}}">Home</a></button>
                        </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
            </div>
        </div>
    </header>
</body>
</html>
